<footer>
  <div class="container">
    <ul class = "list-unstyled list-inline col-md-6">
      <li><%= image_tag 'icon-app-spotdly.png' %></li>
      <li>SPOTDLY 2015.Created in Miami, FL. #InspiringBrand</li>
    </ul>
    <ul class = "list-unstyled list-inline col-md-3 col-md-offset-3">
      <li class="footer-links">Help</li>
      <li></li>
      <li class="footer-links">Mobile App(Coming Soon!)</li>
    </ul>
  </div>
</footer>
