<footer>
  <div class="container">
    <ul class = "list-unstyled list-inline">
      <li><%= image_tag 'icon-app-spotdly.png' %></li>
      <li>SPOTDLY 2015.Created in Miami, FL. #InspiringBrand</li>
      <li>Help</li>
      <li></li>
      <li>Mobile App(Coming Soon!)</li>
    </ul>
  </div>
</footer>
