<div id="video-modal">
  <!-- Triggers the modals -->
  <a href="#" data-reveal-id="videoModal" class="radius button">Watch the Video</a>

  <!-- Reveal Modals begin -->
  <div id="videoModal" class="reveal-modal large" data-reveal-id="videoModal" aria-labelledby="videoModalTitle" aria-hidden="true" role="dialog">
    <h2 id="videoModalTitle">This modal has video</h2>
    <div class="flex-video widescreen vimeo">
      <iframe width="1280" height="720" src="//www.youtube-nocookie.com/embed/wnXCopXXblE?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <!-- Reveal Modals end -->
</div>
