<%= render 'landing/header' %>
<div class="container text-center">
  <h1>Create a Better Brand</h1>
  <h2>SPOTDLY is a unique space with tools to discover, start, improve and analyze unique concepts.</h2>
  <p>Watch the film</p>
  <p>Login Form</p>
  <button>Get Started- Free</button>
</div>

<div class="container text-center">
<h1>Showcase & manage all brands free</h1>
<p>Create a SPOTDLY brand page is a new way to connect brand ideas with people. No matters if they are big, medium, or small.</p>
<img src="#">
</div>
