/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
BLACK #000000
YELLOW #fef500
GREY TEXT #7a8285
GREY #cdd0d8
*/

 @font-face {
        font-family: "Proxima Nova";
        src: url(assets/fonts/ProximaNova-Light.ttf) format("truetype");
    }

body {
  font-family: 'ProximaNova-Light';
  padding-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'ProximaNova-Light';
}

.btn {
  background-color: #fef500;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: #fef500;
}

.navbar {
  margin-bottom: 0;
}
