/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

 /*
BLACK #000000
YELLOW #fef500
GREY TEXT #7a8285
GREY #cdd0d8
*/

@font-face {
  font-family: "ProximaNova-Thin";
  src: font-url('ProximaNova-Thin.ttf') format("truetype");
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: font-url('ProximaNova-Regular.otf');
}

@font-face {
  font-family: "ProximaNova-Light";
  src: font-url('ProximaNova-Light.ttf');
}

@font-face{
  font-family: "ProximaNova-Bold";
  src: font-url('ProximaNova-Bold.ttf')
}

@font-face{
  font-family: "ProximaNova-Alt";
  src: font-url('ProximaNova-Alt.otf')
}

body {
  font-family: 'ProximaNova-Thin';
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'ProximaNova-Thin';
}

h4 {
  font-family: 'ProximaNova-Regular';
  letter-spacing: 1px;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
  background: none;
  color: #cdd0d8;
}

.btn {
  background-color: #fef500;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: #fef500;
  margin: 30px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

li.dropdown.navbar-right {
  font-family: 'ProximaNova-Thin';
  font-size: 16px;
}

#logo {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.fa-circle {
  color: #fef500;
}

.fa-stack {
  font-size: .75em;
}

.fa-plus {
  font-size: .75em;
}

.description-thumbnail {
  text-transform: uppercase;
  color: #fff;
}

li.dropdown {
  padding-top: 20px;
}

.index-page {
  background-color: #F4F4F4;
}

.fa-big {
  padding: 10px;
}

.fa-plus-circle {
  color: #fef500;
}

.edit-user{
  border-style: solid;
  border-color: #fafafa;
  width: 50%;
  margin-top: 30px;
}

label {
  font-family: 'ProximaNova-Regular';
}

.form-control {
  max-width: 75%;
  margin: 0 auto;
}

html {
  background-color: #f9f9f9;
}

.radio-label{
  padding-right: 5px;
  padding-left: 5px;
}
