// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

.background-image-thumbnail {
  position: static;
  width: 200px;
}

.logo-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
}

img {
  height: 50px;
}

img.logo-show {
  height: 150px;
  border-radius: 50%;
  border: 5px solid #cdd0d8;
}

img.logo-thumbnail {
  border: 2px solid #fff;
}

.logo-index {
  text-align: center;
}

.brand-thumbnail {
 /* border: 1px solid black;*/
  border-radius: 10px;
  height: 200px;
  margin: 1%;
  box-shadow: 2px 2px 2px #888888;
}

.submit-button {
  text-align: center;
}

.profile-info {
  margin-top: 50px;
}

#description-thumbnail {
  text-transform: uppercase;
  padding-top: 5px;
  min-height: 100px;
}

#description-show {
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 50%;
  height: 200px;
  margin: 0 auto;
  padding-top: 50px;
  color: #fff;
  position: relative;
}

#brand-tree {
  text-transform: uppercase;
}

.match-stuff {
  padding-top: 60px;
}

.match-button {
  background: #fef500;
  padding: 10px 40px;
  border-radius: 50px 50px 50px 50px;
  text-transform: uppercase;
  /*position: absolute;*/
}

.match-button:hover {
  background-color: #fef500;
  color: #cdd0d8;
}

#hashtag {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.social-media li{
  padding: 10px;
}

.num-matches{
  color: #fff;
  font-weight: bold;
}
