// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}
.background-image-thumbnail {
  position: static;
  width: 200px;
}

.logo-thumbnail {
  width: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
}

img.logo-show {
  height: 150px;
  border-radius: 50%;
  border: 5px solid #cdd0d8;
}

.brand-thumbnail {
  border: 1px solid black;
  border-radius: 10px;
}

.submit-button {
  text-align: center;
}

.profile-info {
  margin-top: 50px;
}

#description-show {
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  color: #fff;
}

.match-stuff {
  padding-top: 150px;
}

#brand-tree {
  text-transform: uppercase;
}

.match-button {
  background: #fef500;
  padding: 10px 40px;
  border-radius: 50px 50px 50px 50px;
  text-transform: uppercase;
}

#hashtag {
  background: #000;
  color: #fff;
  padding: 10px 20px;
}
